services:
  app:
    build: .
    hostname: task-generator
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    volumes:
      - ollama:/root/.ollama
    restart: unless-stopped
    tty: true

volumes:
  ollama: {}

networks:
  default:
    external: true
    name: nginx-network
